@keyframes typing {
    from{
        width: 0;
    }
}
@keyframes blink{
    50% {border-color: transparent;}
}
:root{
    --colorVerde: rgb(66, 110, 44);

}
body{
    background-color:rgb(250, 247, 243);
}



header figure{
    background-color: white;
}

h1, h2 ,h3{
    font-family: Space;
}

h1 {
    font-family: Space;
    font-size: 70px;
    color: rgb(240, 232, 232);
}


section img{
    background-color: white;
}

span{
    color: var(--colorVerde);
}

h2, h3{
    color: var(--colorCeleste);
}


p, a, li,td{
    color: rgb(0, 0, 0);
    font-size: 20px;
}

/* MENU */

header h3{
    border-left: 3px solid black;
}
header ul li a{
    display: block;
    color: rgb(15, 14, 14);
    letter-spacing: 2px;
}

header ul li a:hover{
    color:var(--colorVerde)

}

/* SECCION 1*/

section:nth-of-type(1){
    background-image: url("../img/vecteezy_seamless-gold-outlines-vector-pattern-background-pattern_7684543.jpg");
    background-size: cover;
}
section{
    border-top:2px solid white;
}
section:nth-of-type(1) h1{
    font-family: monospace;
    display: block;
    white-space: nowrap;
    border-right: 4px solid;
    width: 10ch;

    animation: typing 3s steps(10), blink .5s infinite step-end alternate;
    overflow: hidden;
}

section article a{
    
    color: white;
    font-size: 20px;
    font-family: Bebas;
}

section article a:hover{

    color: white;
}



section:nth-of-type(2) figure img:hover{
    border: 4px solid var(--colorVerde);
}
/* SECCION 3*/
section:nth-of-type(3){
    background-size: cover;
    background-attachment: fixed;
}

section:nth-of-type(3){
    background-image: url("../img/133C.gif");
    background-size: cover;
    background-attachment: scroll;
}

/* SECCION 4 */

section:nth-of-type(4){
    color: white;
    text-decoration: none;
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}

/* SECCION 5*/

section:nth-of-type(5) figure{
    border: 4px solid var(--colorCeleste);
}

input, textarea, select{
    border: 2px solid var(--colorCeleste);  
}

input[type="submit"]{
    background-color: var(--colorCeleste);
    color: white;
}

section:nth-of-type(5){
    background-image: url("../img/vecteezy_seamless-gold-outlines-vector-pattern-background-pattern_7684543.jpg");
}
section:nth-of-type(6) ul li{
    list-style: none;

}

section:nth-of-type(7)
{
    background-image: url("../img/133C.gif");
    background-size: cover;
    background-attachment: scroll
}

/* footer */

footer{
    background-color: var(--colorVerde);
    color: white;
}

section table th, section table td{
    color:rgb(7, 7, 7);
}

section table td:hover{
    color: var(--colorVerde) !important;;
}


/* FUENTES */

@font-face {
    font-family: Space;
    src: url("../fonts/SPACE\ EXPLORER.ttf");
}