
/* Global Styles */
:root {
    --colorMarron:rgb(255, 129, 26);;
}


@media only screen and (max-width: 767px) {
    p, a, li, td {
        color: white;
        font-size: 10px;
    }
    section:nth-of-type(8) div p{
    text-align: left; 
  }
    
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    position: fixed;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    width: 100%;
    top: 0;
    color:rgb(0, 0, 0);

}
header h3{
    color:rgb(0, 0, 0);
}


header ul {
    list-style: none; /* Elimina los puntos de lista */
    padding: 0;
    margin: 0;
}

header ul li {
    display: inline-block;
    border-bottom: 5px solid rgb(255, 255, 255);
}

header ul li:hover{
    border-bottom: 5px solid rgb(0, 0, 0);
    color:rgb(0, 0, 0);
}
header ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
}

header  button{
    background-color: rgb(255, 251, 251);
    border-radius: 2px ;
    border: 2px solid black;
    color:black;
}
header  button:hover{
    background-color: rgb(0, 0, 0);
    color:white;
}

/* Aquatic Font */
h1, h2, h3 {
    font-family: "Sarabun";
    color: white;
}

h1 {
    font-size: 50px;
    color: rgb(240, 232, 232);
}

span {
    color:var(--colorMarron);
}



/* Other Elements */
p, a, li, td {
    color: white;
    font-size: 20px;
    font-family: "Sarabun";
}



/*Body*/

body {
    background-color:  rgb(255, 255, 255);
    margin: 0; 
}

/* Header */


/* Section 1 Styles */
main section:nth-of-type(1) {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    z-index: 1; 
    background-image: url("../img/4d740888825ff6e44028919c3f2ebfc0.gif");
    background-size: cover;
}

section:nth-of-type(1) p {
    color: white;
}
section:nth-of-type(1) h1 {
    color: white;
}

header  nav {
    background-color: rgb(255, 255, 255);
    border: none;
}
header button{
    background-color: rgb(255, 255, 255);
}

header div ul li:hover{
    border-bottom: 2px solid black;
}
header a{
    font-size: 20px;
    text-decoration: none;
    color:white;
}
header a:hover{
    color:black;
}





section:nth-of-type(1) h3{
    color:white;
}

section article a{
    
    color: white;
    font-size: 20px;
    font-family: Bebas;
}

section article a:hover{

    color: white;
}


section:nth-of-type(2) img{
    border: 4px solid var(--colorVerde);
    border-radius: 30px;
}

section p, h2 ,h3,li{
    color:black;
}

section:nth-of-type(3) div div p{
    color:white;
}

/* SECCION 3*/



/* SECCION 4 */

section:nth-of-type(4){
    color: white;
    background-color: rgba(0, 0, 0);
    text-decoration: none;
    list-style-type: none;
}


/* SECCION 5*/

section:nth-of-type(5) {
    background-color: black ;
}

input, textarea, select{
    border: 2px solid var(--colorCeleste);  
}

input[type="submit"]{
    background-color: var(--colorCeleste);
    color: white;
}



section:nth-of-type(6){
    background-image: url("../img/4d740888825ff6e44028919c3f2ebfc0.gif");
    background-size: cover;
    background-repeat: repeat;
}
section:nth-of-type(6) div{
    background-color: transparent;
}

section:nth-of-type(6) div article{
    border: 2px solid white;
    color:rgb(253, 253, 253);
    border-radius: 15px;
}
section:nth-of-type(6) div article p,section:nth-of-type(6) div article h2{
    color:rgb(253, 253, 253);
}

.card-img-top {
    position: relative;
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
  }
  .card-img-top.hover-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .card:hover .card-img-top.hover-img {
    opacity: 1;
  }
  .card:hover .card-img-top.main-img {
    opacity: 0;
  }


section:nth-of-type(7)
{
    background-size: cover;
    background-attachment: scroll
}
section:nth-of-type(8){
    background-color: rgba(0, 0, 0, 0.815);
    color:black;
}
section:nth-of-type(8) div{
    border:3px solid rgba(255, 255, 0, 0.705);
    border-radius: 10px;
    background-color: black;
    
}
section:nth-of-type(8) div p{
    color:rgb(255, 255, 255);
}
section:nth-of-type(8) img{
    margin-top: 20px;
}
section:nth-of-type(8) a{
    border:1px solid white;
    background-color: black;
}
section:nth-of-type(8) a:hover{
    border:1px solid rgb(243, 219, 0);
    background-color: rgb(122, 0, 0);
}
section:nth-of-type(5){
    background-color:rgba(255, 255, 255, 0.815);
    color:black;
}
section:nth-of-type(8) h5{
    color:white;
    font-size: 25px;
    border-bottom: 1px solid rgb(68, 68, 68);
}


section table th, section table td{
    color:black;
}

section table td:hover{
    background-color: black;
    color:white;
}

.carousel-caption{
    background-color: rgba(22, 22, 22, 0.712)
    
}
/* footer */

footer {
    background-color: white !important;
    background-image: none !important; /* Añadido para asegurar que no haya una imagen de fondo */
}

/* FUENTES */
@font-face {
    font-family: Aquatic;
    src: url("../fonts/Aquatico-Regular.otf");
}
@font-face {
    font-family: Sarabun;
    src: url("../fonts/Sarabun-Regular.ttf");
}
